- name: Set system timezone to UTC
  community.general.timezone:
    name: UTC
  tags:
    - timezone

- name: Configure Journald
  community.general.ini_file:
    path: /etc/systemd/journald.conf
    section: Journal
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    mode: "0644"
  loop:
    - { option: "Storage", value: "persistent" }
    - { option: "Compress", value: "yes" }
    - { option: "SystemMaxUse", value: "500M" }
    - { option: "RuntimeMaxUse", value: "50M" }
    - { option: "MaxRetentionSec", value: "1day" }
  notify: Restart journald

- name: Apply Kernel Tuning (sysctl)
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
    reload: true
    ignoreerrors: true
  loop:
    - { name: "net.ipv4.ip_forward", value: "1" }
    - { name: "net.ipv4.vs.conntrack", value: "1" }
    - { name: "net.ipv4.conf.all.forwarding", value: "1" }
    - { name: "net.ipv6.conf.all.disable_ipv6", value: "1" }
    - { name: "vm.overcommit_memory", value: "1" }
    - { name: "vm.swappiness", value: "0" }
    - { name: "fs.file-max", value: "1000000" }
    - { name: "net.core.rmem_max", value: "8388608" }
    - { name: "net.core.wmem_max", value: "8388608" }
    - { name: "fs.inotify.max_user_instances", value: "512" }

- name: Load Kernel Modules
  community.general.modprobe:
    name: "{{ item }}"
    state: present
  loop:
    - overlay
    - br_netfilter
    - nft_chain_nat # Need for NFTables
    - xt_REDIRECT # Need for Portmap

- name: Ensure Kernel Modules are loaded on boot
  ansible.builtin.copy:
    dest: /etc/modules-load.d/tuning.conf
    content: |
      overlay
      br_netfilter
      nft_chain_nat
      xt_REDIRECT
    mode: "0644"
