- name: Prepare K3s directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0700"
    owner: root
  with_items:
    - /etc/rancher/k3s
    - /var/lib/rancher/k3s/server/tls

- name: Pre-seed TLS Certificates (Idempotent)
  ansible.builtin.copy:
    src: "{{ control_plane_cluster_cert_root }}/{{ item }}"
    dest: "/var/lib/rancher/k3s/server/tls/{{ item }}"
    mode: "0600"
  with_items:
    - server-ca.crt
    - server-ca.key
    - client-ca.crt
    - client-ca.key
    - request-header-ca.crt
    - request-header-ca.key
  register: control_plane_tls_certs
  when: ansible_facts['local']['k3s_installed'] is not defined

- name: Render K3s Configuration
  ansible.builtin.template:
    src: k3s-config.yaml.j2
    dest: /etc/rancher/k3s/config.yaml
    mode: "0644"
  notify: Restart K3s

- name: Create K3s agent static pod directory
  ansible.builtin.file:
    path: /var/lib/rancher/k3s/agent/pod-manifests
    state: directory
    mode: "0755"
    owner: root

- name: Deploy kube-vip static pod manifest
  ansible.builtin.template:
    src: kube-vip.yaml.j2
    dest: /var/lib/rancher/k3s/agent/pod-manifests/kube-vip.yaml
    mode: "0644"
  notify: Wait for kube-vip to be ready

- name: Check if K3s binary exists
  ansible.builtin.stat:
    path: /usr/local/bin/k3s
  register: control_plane_k3s_bin

- name: Download K3s install script
  ansible.builtin.get_url:
    url: https://get.k3s.io
    dest: /tmp/k3s_install.sh
    mode: "0700"
  when: not control_plane_k3s_bin.stat.exists

- name: Init First Control Plane Node
  ansible.builtin.command:
    cmd: /tmp/k3s_install.sh server --cluster-init --write-kubeconfig-mode 644
  environment:
    INSTALL_K3S_VERSION: "{{ control_plane_k3s_version }}"
  when:
    - inventory_hostname == groups['cpl'][0]
    - not control_plane_k3s_bin.stat.exists
  changed_when: true

- name: Wait for Node Token to be generated
  ansible.builtin.wait_for:
    path: /var/lib/rancher/k3s/server/node-token
  when: inventory_hostname == groups['cpl'][0]

- name: Fetch Node Token from First Node
  ansible.builtin.slurp:
    src: /var/lib/rancher/k3s/server/node-token
  register: control_plane_node_token
  delegate_to: "{{ groups['cpl'][0] }}"
  run_once: true

- name: Join Secondary Control Plane Nodes
  ansible.builtin.command:
    cmd: /tmp/k3s_install.sh server --server https://{{ control_plane_k3s_vip }}:6443
  environment:
    INSTALL_K3S_VERSION: "{{ control_plane_k3s_version }}"
    K3S_TOKEN: "{{ control_plane_node_token.content | b64decode | trim }}"
  when:
    - inventory_hostname != groups['cpl'][0]
    - not control_plane_k3s_bin.stat.exists
  changed_when: true

- name: Create Ansible facts directory
  ansible.builtin.file:
    path: /etc/ansible/facts.d
    state: directory
    mode: "0755"

- name: Create custom fact to mark K3s as installed
  ansible.builtin.file:
    path: /etc/ansible/facts.d/k3s_installed.fact
    state: touch
    mode: "0644"
