tls-san:
  - "{{ control_plane_k3s_vip }}" # Kubernetes API VIP
cluster-cidr: "{{ control_plane_k3s_cluster_cidr }}"
service-cidr: "{{ control_plane_k3s_service_cidr }}"
cluster-dns: "{{ control_plane_k3s_cluster_dns }}" # Local DNS VIP

etcd-expose-metrics: true
etcd-arg:
  - "election-timeout=5000"
  - "heartbeat-interval=500"
  - "auto-compaction-mode=periodic"
  - "auto-compaction-retention=1h"
etcd-snapshot-schedule-cron: "0 */12 * * *" # Every 12 hours
etcd-snapshot-retention: 1

kube-proxy-arg:
  - "proxy-mode=nftables"

kube-apiserver-arg:
  - "audit-log-maxbackup=1"
  - "audit-log-maxsize=50"
  - "event-ttl=1h"
  
kubelet-arg:
  - "cloud-provider=external"
  - "kube-reserved=cpu=200m,memory=196Mi"
  - "system-reserved=cpu=200m,memory=196Mi"
  - "image-gc-high-threshold=70"
  - "image-gc-low-threshold=50"
  - "eviction-minimum-reclaim=memory.available=64Mi,nodefs.available=500Mi"
  - "eviction-pressure-transition-period=30s"
  - "container-log-max-files=3"
  - "container-log-max-size=10Mi"
  - "cluster-dns={{ control_plane_k3s_cluster_dns }}"

disable-network-policy: true
flannel-backend: none
embedded-registry: true
disable:
  - traefik
  - servicelb
  - metrics-server
  - local-storage
  - coredns
  - helm-controller
  - cloud-controller

node-taint:
  - "node-role.kubernetes.io/control-plane:NoSchedule"

node-label:
  - "topology.kubernetes.io/region={{ region | default('unknown') }}"
  - "topology.kubernetes.io/zone={{ zone | default('unknown') }}"

