- name: Restart SSH
  ansible.builtin.service:
    name: sshd
    state: restarted

- name: Restart journald
  ansible.builtin.systemd:
    name: systemd-journald
    state: restarted

- name: Reload sysctl
  ansible.builtin.command: sysctl --system
  changed_when: true

- name: Reexec systemd
  ansible.builtin.systemd:
    daemon_reexec: true
