- name: Set system timezone to UTC
  community.general.timezone:
    name: UTC
  tags:
    - timezone

- name: Load Kernel Modules
  community.general.modprobe:
    name: "{{ item }}"
    state: present
  loop:
    - overlay
    - br_netfilter
    - nft_chain_nat # Need for NFTables
    - xt_REDIRECT # Need for Portmap

- name: Ensure Kernel Modules are loaded on boot
  ansible.builtin.copy:
    dest: /etc/modules-load.d/tuning.conf
    content: |
      overlay
      br_netfilter
      nft_chain_nat
      xt_REDIRECT
    mode: "0644"

- name: Apply SSH Hardening configurations (blockinfile)
  ansible.builtin.blockinfile:
    path: /etc/ssh/sshd_config
    marker: "# {mark} ANSIBLE MANAGED SECURITY SETTINGS"
    block: |
      PermitRootLogin no
      PasswordAuthentication no
      MaxAuthTries 3
      ClientAliveInterval 300
      ClientAliveCountMax 0
    validate: "sshd -t -f %s"
  notify: Restart SSH

- name: Configure Journald
  community.general.ini_file:
    path: /etc/systemd/journald.conf
    section: Journal
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    mode: "0644"
  loop:
    - { option: "Storage", value: "persistent" }
    - { option: "Compress", value: "yes" }
    - { option: "SystemMaxUse", value: "500M" }
    - { option: "RuntimeMaxUse", value: "50M" }
    - { option: "MaxRetentionSec", value: "1day" }
    - { option: "SyncIntervalSec", value: "1s" }
  notify: Restart journald

- name: Configure Logrotate to keep system logs for 1 day
  ansible.builtin.copy:
    dest: /etc/logrotate.d/system-logs
    content: |
      /var/log/syslog
      /var/log/auth.log
      /var/log/messages
      {
          rotate 4
          hourly
          missingok
          notifempty
          maxsize 50M
          compress
          delaycompress
          copytruncatez
      }
    mode: "0644"

- name: Flush handlers to restart journald immediately
  ansible.builtin.meta: flush_handlers

- name: Apply Kernel Tuning (sysctl)
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
    reload: false
    sysctl_file: /etc/sysctl.conf
  loop:
    - { name: "net.bridge.bridge-nf-call-iptables", value: "1" }
    - { name: "net.ipv4.neigh.default.gc_thresh1", value: "1024" }
    - { name: "net.ipv4.neigh.default.gc_thresh2", value: "2048" }
    - { name: "net.ipv4.neigh.default.gc_thresh3", value: "4096" }
    - { name: "net.ipv4.ip_forward", value: "1" }
    - { name: "net.ipv4.conf.all.forwarding", value: "1" }
    - { name: "net.ipv4.tcp_fastopen", value: "3" }
    - { name: "net.ipv4.tcp_slow_start_after_idle", value: "0" }
    - { name: "net.core.rmem_max", value: "8388608" }
    - { name: "net.core.wmem_max", value: "8388608" }
    - { name: "net.netfilter.nf_conntrack_max", value: "1000000" }
    - { name: "vm.overcommit_memory", value: "1" }
    - { name: "vm.swappiness", value: "0" }
    - { name: "fs.file-max", value: "1000000" }
    - { name: "fs.inotify.max_user_instances", value: "512" }
    - { name: "fs.inotify.max_user_watches", value: "1048576" }
    - { name: "net.ipv6.conf.all.disable_ipv6", value: "1" }
    - { name: "net.ipv6.conf.default.disable_ipv6", value: "1" }
    - { name: "net.ipv6.conf.lo.disable_ipv6", value: "1" }
    - { name: "net.ipv6.conf.all.accept_ra", value: "0" }
    - { name: "net.ipv6.conf.default.accept_ra", value: "0" }
  notify: Reload sysctl

- name: Optimize Systemd Global Limits
  ansible.builtin.lineinfile:
    path: /etc/systemd/system.conf
    regexp: "^#?{{ item.name }}="
    line: "{{ item.name }}={{ item.value }}"
  loop:
    - { name: "DefaultLimitNOFILE", value: "1048576" }
    - { name: "DefaultLimitNPROC", value: "512000" }
    - { name: "DefaultLimitMEMLOCK", value: "infinity" }
  notify: Reexec systemd
