apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: null
  name: kube-vip
  namespace: kube-system
  labels:
    app.kubernetes.io/name: kube-vip
spec:
  containers:
  - args:
    - manager
    env:
    - name: vip_arp
      value: "false"
    - name: port
      value: "6443"
    - name: vip_interface
      value: {{ control_plane_kube_vip_interface }}
    - name: vip_subnet
      value: "32"
    - name: cp_enable
      value: "true"
    - name: cp_namespace
      value: kube-system
    - name: vip_ddns
      value: "false"
    - name: bgp_enable
      value: "true"
    - name: bgp_routerid
      value: "{{ ansible_host }}"
    - name: bgp_as
      value: "{{ control_plane_kube_vip_bgp_as }}"
    - name: bgp_peeraddress
    - name: bgp_peerpass
    - name: bgp_peeras
      value: "{{ control_plane_kube_vip_bgp_peer_as }}"
    - name: bgp_peers
      value: {{ control_plane_kube_vip_bgp_peers }}
    - name: address
      value: {{ control_plane_k3s_vip }}
    image: {{ control_plane_kube_vip_image }}
    imagePullPolicy: IfNotPresent
    name: kube-vip
    resources:
      requests:
        cpu: 50m
        memory: 48Mi
      limits:
        cpu: 50m
        memory: 48Mi
    securityContext:
      capabilities:
        add:
        - NET_ADMIN
        - NET_RAW
        - SYS_TIME
    volumeMounts:
    - mountPath: /etc/kubernetes/admin.conf
      name: kubeconfig
      readOnly: true
  hostAliases:
  - hostnames:
    - kubernetes
    ip: 127.0.0.1
  hostNetwork: true
  priorityClassName: system-node-critical
  volumes:
  - hostPath:
      path: /etc/rancher/k3s/k3s.yaml
      type: File
    name: kubeconfig
status: {}